.flex-row {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.gap {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.gap-large {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.jc-start {
	justify-content: flex-start;
}

.jc-center {
	justify-content: center;
}

.jc-end {
	justify-content: flex-end;
}

.jc-around {
	justify-content: space-around;
}

.jc-between {
	justify-content: space-between;
}

.ai-stretch {
	align-items: stretch;
}

.ai-start {
	align-items: flex-start;
}

.ai-center {
	align-items: center;
}

.ai-baseline {
	align-items: baseline;
}

.ai-end {
	align-items: flex-end
}

.centered {
	align-items: center;
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.no-wrap {
	flex-wrap: nowrap;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}

.ta-right {
	text-align: right;
}

.full-width {
	flex: 1;
}

@media only screen and (max-width: $xl) {
	.flex-row-xl {
		display: flex;
	}
	.flex-col-xl {
		display: flex;
		flex-direction: column;
	}
	.jc-center-xl {
		justify-content: center;
	}
	.jc-start-xl {
		justify-content: flex-start;
	}
	.jc-end-xl {
		justify-content: flex-end;
	}
	.jc-around-xl {
		justify-content: space-around;
	}
	.jc-between-xl {
		justify-content: space-between;
	}
	.ai-stretch-xl {
		align-items: stretch;
	}
	.ai-start-xl {
		align-items: flex-start;
	}
	.ai-center-xl {
		align-items: center;
	}
	.ai-baseline-xl {
		align-items: baseline;
	}
	.ai-end-xl {
		align-items: flex-end
	}
	.centered-xl {
		align-items: center;
		justify-content: center;
	}
	.wrap-xl {
		flex-wrap: wrap;
	}
	.no-wrap-xl {
		flex-wrap: nowrap;
	}
	.ta-center-xl {
		text-align: center;
	}
	.ta-left-xl {
		text-align: left;
	}
	.ta-right-xl {
		text-align: right;
	}
}

@media only screen and (max-width: $lg) {
	.flex-row-lg {
		display: flex;
	}
	.flex-col-lg {
		display: flex;
		flex-direction: column;
	}
	.jc-center-lg {
		justify-content: center;
	}
	.jc-start-lg {
		justify-content: flex-start;
	}
	.jc-end-lg {
		justify-content: flex-end;
	}
	.jc-around-lg {
		justify-content: space-around;
	}
	.jc-between-lg {
		justify-content: space-between;
	}
	.ai-stretch-lg {
		align-items: stretch;
	}
	.ai-start-lg {
		align-items: flex-start;
	}
	.ai-center-lg {
		align-items: center;
	}
	.ai-baseline-lg {
		align-items: baseline;
	}
	.ai-end-lg {
		align-items: flex-end
	}
	.centered-lg {
		align-items: center;
		justify-content: center;
	}
	.wrap-lg {
		flex-wrap: wrap;
	}
	.no-wrap-lg {
		flex-wrap: nowrap;
	}
	.ta-center-lg {
		text-align: center;
	}
	.ta-left-lg {
		text-align: left;
	}
	.ta-right-lg {
		text-align: right;
	}
}

@media only screen and (max-width: $md) {
	.flex-row-md {
		display: flex;
	}
	.flex-col-md {
		display: flex;
		flex-direction: column;
	}
	.jc-center-md {
		justify-content: center;
	}
	.jc-start-md {
		justify-content: flex-start;
	}
	.jc-end-md {
		justify-content: flex-end;
	}
	.jc-around-md {
		justify-content: space-around;
	}
	.jc-between-md {
		justify-content: space-between;
	}
	.ai-stretch-md {
		align-items: stretch;
	}
	.ai-start-md {
		align-items: flex-start;
	}
	.ai-center-md {
		align-items: center;
	}
	.ai-baseline-md {
		align-items: baseline;
	}
	.ai-end-md {
		align-items: flex-end
	}
	.centered-md {
		align-items: center;
		justify-content: center;
	}
	.wrap-md {
		flex-wrap: wrap;
	}
	.no-wrap-md {
		flex-wrap: nowrap;
	}
	.ta-center-md {
		text-align: center;
	}
	.ta-left-md {
		text-align: left;
	}
	.ta-right-md {
		text-align: right;
	}
}

@media only screen and (max-width: $sm) {
	.flex-row-sm {
		display: flex;
	}
	.flex-col-sm {
		display: flex;
		flex-direction: column;
	}
	.jc-center-sm {
		justify-content: center;
	}
	.jc-start-sm {
		justify-content: flex-start;
	}
	.jc-end-sm {
		justify-content: flex-end;
	}
	.jc-around-sm {
		justify-content: space-around;
	}
	.jc-between-sm {
		justify-content: space-between;
	}
	.ai-stretch-sm {
		align-items: stretch;
	}
	.ai-start-sm {
		align-items: flex-start;
	}
	.ai-center-sm {
		align-items: center;
	}
	.ai-baseline-sm {
		align-items: baseline;
	}
	.ai-end-sm {
		align-items: flex-end
	}
	.centered-sm {
		align-items: center;
		justify-content: center;
	}
	.wrap-sm {
		flex-wrap: wrap;
	}
	.no-wrap-sm {
		flex-wrap: nowrap;
	}
	.ta-center-sm {
		text-align: center;
	}
	.ta-left-sm {
		text-align: left;
	}
	.ta-right-sm {
		text-align: right;
	}
}

@media only screen and (max-width: $xs) {
	.flex-row-xs {
		display: flex;
	}
	.flex-col-xs {
		display: flex;
		flex-direction: column;
	}
	.jc-center-xs {
		justify-content: center;
	}
	.jc-start-xs {
		justify-content: flex-start;
	}
	.jc-end-xs {
		justify-content: flex-end;
	}
	.jc-around-xs {
		justify-content: space-around;
	}
	.jc-between-xs {
		justify-content: space-between;
	}
	.ai-stretch-xs {
		align-items: stretch;
	}
	.ai-start-xs {
		align-items: flex-start;
	}
	.ai-center-xs {
		align-items: center;
	}
	.ai-baseline-xs {
		align-items: baseline;
	}
	.ai-end-xs {
		align-items: flex-end
	}
	.centered-xs {
		align-items: center;
		justify-content: center;
	}
	.wrap-xs {
		flex-wrap: wrap;
	}
	.no-wrap-xs {
		flex-wrap: nowrap;
	}
	.ta-center-xs {
		text-align: center;
	}
	.ta-left-xs {
		text-align: left;
	}
	.ta-right-xs {
		text-align: right;
	}
}
