@import "libs";
@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "flex";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,800,900');
header {
	padding-top: 52px;
	padding-bottom: 187px;
	background: url("../img/header-bg.jpg") no-repeat;
	background-size: cover;
	color: #fff;
	.logo {
		&-img {
			margin-right: 10px;
			cursor: pointer;
		}
		&-text {
			cursor: pointer;
			h1 {
				font-size: 15px;
				font-weight: 300;
				line-height: 1.0em;
				text-transform: uppercase;
				span {
					font-weight: 700;
				}
			}
		}
	}
	ul {
		font-size: 15px;
		font-weight: 700;
		li {
			margin-right: 50px;
			a {
				text-decoration: none;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	button.sigh-up {
		padding: 6px 20px;
		background: none;
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
	}
	.banner {
		margin-top: 170px;
		&-text {
			max-width: 580px;
			h2 {
				font-size: 55px;
				font-weight: 900;
				line-height: 65px;
				text-transform: uppercase;
			}
			p {
				margin-top: 28px;
				margin-bottom: 38px;
				font-size: 18px;
				line-height: 35px;
			}
			button {
				padding: 22px 42px;
				margin-right: 30px;
				border-radius: 5px;
				background-color: #ffffff;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
				font-size: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
			button.button-buy {
				background-color: #061e37;
				color: #fff;
			}
			button.button-try {
				font-weight: 700;
				color: #061e37;
			}
		}
	}
}

section {
	.section-text {
		h2,
		h3,
		h4,
		p {
			text-align: center;
		}
		h2 {
			font-size: 45px;
			font-weight: 600;
			color: #061e37;
		}
		h3 {
			font-size: 25px;
			font-weight: 600;
			color: #b0bec5;
		}
		p {
			max-width: 555px;
			font-size: 15px;
			color: #b0bec5;
			line-height: 25px;
		}
	}
}

.s-useful {
	margin-top: 100px;
	.box {
		flex: 1 0 300px;
		margin-top: 100px;
		img {
			margin-bottom: 44px;
		}
		&-text {
			max-width: 345px;
			margin-top: auto;
			h4 {
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				color: #061e37;
			}
			p {
				margin-top: 20px;
				font-size: 15px;
				line-height: 20px;
				text-align: center;
				color: #78909c;
			}
		}
	}
	button.get-started {
		margin-top: 78px;
		margin-bottom: 100px;
		padding: 22px 25px;
		font-size: 15px;
		font-weight: 700;
		border-radius: 5px;
		background-color: #1de9b6;
		color: #fff;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	}
	.statistics {
		&-block {
			flex: 1 0 250px;
			height: 150px;
			.statistics-img-container {
				width: 60px;
				height: 60px;
				margin-right: 25px;
				background-color: #fff;
				border-radius: 50%;
			}
			p {
				text-align: left;
				color: #fff;
			}
			&:nth-child(1) {
				background: #80D8FF;
			}
			&:nth-child(2) {
				background: #82B1FF;
			}
			&:nth-child(3) {
				background: #B388FF;
			}
			&:nth-child(4) {
				background: #EA80FC;
			}
		}
	}
}

.s-services {
	padding-top: 100px;
	padding-bottom: 100px;
	.services-boxes {
		margin-top: 45px;
		.services-box {
			width: 800px;
			margin-bottom: 20px;
			padding: 25px;
			border-radius: 5px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
			cursor: pointer;
			&-top {
				&-title {
					font-size: 15px;
					font-weight: 700;
					color: #061e37;
					text-transform: uppercase;
					img {
						margin-right: 25px;
					}
					p {
						margin: 0;
						font-size: 15px;
					}
				}
			}
			&-dropped {
				display: none;
				margin-top: 25px;
				img {
					float: left;
					margin-right: 25px;
				}
				p {
					margin-top: 10px;
					margin-bottom: 10px;
					text-align: left;
					font-size: 15px;
					line-height: 25px;
					color: #061e37;
				}
			}
		}
	}
}

.s-reviews {
	padding-top: 40px;
	padding-bottom: 40px;
	background: url("../img/review-bg.jpg") no-repeat;
	background-size: cover;
	.reviews-text {
		width: 40%;
		color: #fff;
		h2 {
			font-size: 45px;
			font-weight: 600;
			line-height: 1.1em;
		}
		button.button-start {
			margin-top: 78px;
			padding: 22px 24px;
			font-size: 15px;
			border-radius: 5px;
			background-color: #061e37;
			color: #fff;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
		}
	}
	.reviews {
		width: 50%;
		.arrow-up {
			margin-bottom: 33px;
		}
		.review {
			margin-bottom: 70px;
			.avatar {
				margin-right: 50px;
				border-radius: 50%;
			}
			&-text {
				padding: 32px;
				border-radius: 5px;
				background: #fff;
				h4 {
					font-size: 18px;
					font-weight: 700;
					color: #061e37;
				}
				p {
					font-size: 15px;
					color: #78909c;
					line-height: 25px;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.arrow-down {
			margin-top: 33px;
		}
	}
}

.s-team {
	padding-top: 100px;
	padding-bottom: 100px;
	.slider-container {
		width: 50%;
		margin: 0 auto;
		margin-top: 100px;
		.slider {
			position: relative;
			display: flex;
			align-items: center;
			flex: 1 1;
			.prev,
			.next {
				position: relative;
				width: 32px;
				height: 32px;
				cursor: pointer;
			}
			.slick-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex: 1 1;
				.slick-track {
					display: flex;
					align-items: center;
					.slider-item {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-left: 10px;
						margin-right: 10px;
						z-index: 0!important;
						.slider-text {
							position: absolute;
							margin-top: 50px;
						}
						img {
							width: 50%;
							height: auto;
						}
					}
					.slick-center {
						display: flex;
						align-items: center;
						//width: auto!important;
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
}

.s-contact {
	padding-top: 50px;
	padding-bottom: 100px;
	.section-text {
		p {
			color: #061e37;
		}
	}
}

footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #061e37;
	.logo {
		&-img {
			margin-right: 10px;
			cursor: pointer;
		}
		&-text {
			color: #fff;
			cursor: pointer;
			h1 {
				font-size: 15px;
				font-weight: 300;
				line-height: 1.0em;
				text-transform: uppercase;
				span {
					font-weight: 700;
				}
			}
		}
	}
	ul {
		font-size: 15px;
		font-weight: 700;
		color: #fff;
		li {
			margin-right: 50px;
			a {
				text-decoration: none;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.privacy {
		margin-top: 55px;
		ul {
			li {
				list-style: disc;
				a {
					color: #828e9b;
				}
				&:first-child {
					list-style: none;
				}
			}
		}
	}
}

@import "media";
